:root.theme-light {
  --accent-color: #353430;
  --text-accent-color: #353430;
  --page-bd-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --hover-menu: #32312D66;
  --text-bd-color: #FF8DCB;
  --background-image: url("../images/cover-image-light.png");
}

.theme-light .page {
  background: url('../images/cover-image-light.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: var(--page-bd-color);
}

/* Скрываем REC в светлой теме */
.theme-light .rec-label {
  display: none;
}

@media (prefers-color-scheme: light) {
  .theme-auto .page {
    background: url('../images/cover-image-light.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: var(--page-bd-color);
  }

  .theme-auto {
    --accent-color: #353430;
    --text-accent-color: #353430;
    --page-bd-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --hover-menu: #32312D66;
    --text-bd-color: #FF8DCB;
  }

  .theme-auto .rec-label {
    display: none;
  }
}