.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--header-text-font-family);
  font-weight: var(--text-menu-bold);
  width: 100%;
}

.rec-label {
  position: absolute;
  top: var(--page-padding);
  right: calc(var(--page-padding) + 9px);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  z-index: 1;
  font-family: var(--header-text-font-family);
}

.rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/*уголки*/
.page::before,
.page::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.page::before {
  top: var(--page-padding);
  right: var(--page-padding);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.page::after {
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header {
  padding-top: 20px;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: repeat(2, 1fr);;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  font-family: var(--header-text-font-family);
  font-weight: var(--text-menu-bold);
  border: transparent;
  padding: 0px 13px 4px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
}

.header__theme-menu {
  z-index: 3;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-menu);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--hover-menu);
}

/* адаптивный заголовок и описание */
.header_title {
  text-shadow: 4px 4px 0 var(--title-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  font-family: var(--header-text-font-family);
  font-weight: var(--text-bold);
  margin-inline-end: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header_description {
  font-family: var(--header-text-font-family);
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-accent-color);
  background-color: var(--text-bd-color);
  z-index: 3;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-content {
  margin-inline: 10px;
}

.info-content-title {
  color: var(--accent-color);
  font-family: var(--header-text-font-family);
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 23.4px;
}

.info-content-text-subtitle {
  font-family: var(--header-text-font-family);
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-accent-color);
  background-color: var(--text-bd-color);
}

.info-content-text-item-text {
  font-family: var(--header-text-font-family);
  font-weight: var(--text-menu-bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.info-content-text-title {
  font-family: var(--header-text-font-family);
  font-weight: var(--text-menu-bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-accent-color);
  background-color: var(--text-bd-color);
}

.image-content-title {
  font-family: var(--header-text-font-family);
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-accent-color);
  background-color: var(--text-bd-color);
}

.footer {
  padding-top: 20px;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

.footer_title {
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--title-shadow);
  color: var(--title-color);
  margin-block-end: 17px;
}

.decorated-zone::before {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.decorated-zone::after {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.info-content-href {
  text-shadow: 1px 1px 0px var(--title-shadow);
  text-decoration: none;
}

.info-content-href:hover {
  border-bottom: 1.5px solid var(--text-color);
  padding-bottom: 0px;
  display: inline-block;
  line-height: 1em;
  position: relative;
}

.info-content-href:focus {
  outline: none;
  padding: 0px 0px;
  display: inline-block;
  line-height: 1em;
  position: relative;
  border: 1px solid var(--text-color);
}

/* адаптивность для отступов */
@media (width < 768px) {
  .header {
    height: 668px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    grid-row: 1;
    margin-inline-end: 10px;
    margin-block-start: 75px;
    align-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }

    .header_title {
    display: flex;
    align-items: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    grid-column: 1/3;
    grid-row: 2;
    margin-block-start: 65px;
    margin-inline: 10px;
  }

.header_description {
    position: relative;
    height: min-content;
    width: 95%;
    font-size: 18px;
    line-height: 23.4px;
    grid-column: 1/3;
    grid-row: 3;
    margin-block-start: 55px;
    margin-block-end: 66px;
    margin-inline: 10px;
  }

  .main {
    gap: 50px;
    padding: 0px 10px;
    margin-block-end: 40px;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    gap: 20px
  }

  .info-content-title {
    width: 100%;
    flex-shrink: 0;
  }

  .info-content-text-item {
    gap: 10px;
    flex: 1 1 0px;
    width: 100%;
  }

  .info-content-text-title {
    width: 100%;
  }

  .info-content-text-item-text {
    width: 100%;
  }

  .info-content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

   .image-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-content-text-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image-content-text-item:nth-child(1) {
    grid-area: sunset;
  }

  .image-content-text-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .image-content-text-item:nth-child(3) {
    grid-area: tape;
  }

  .image-content-text-item:nth-child(4) {
    grid-area: books;
  }

  .image-content-text-item:nth-child(5) {
    grid-area: street;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
    grid-row: 2;
    grid-column: 1/4;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}

@media (768px <= width < 1024px) {
  :root {
    --page-padding: 20px;
  }

  .header {
    height: 1024px;
  }
  
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    margin-inline-end: 10px;
    margin-block-start: 192px;
    align-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }

    .header_title {
    display: flex;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    grid-column: 1/4;
    grid-row: 2;
    margin-block-start: clamp(65px, calc(100% / 6), 173px);
  }

  .header_description {
    height: min-content;
    font-size: 18px;
    line-height: 23.4px;
    grid-column: 2;
    grid-row: 3;
    margin-block-start: clamp(55px, calc(100% / 6), 162px);
    margin-block-end: 183px;
    margin-inline-end: 20px;
  }
  
  .main {
    gap: 80px;
    padding: 0px 20px;
    margin-block-end: 60px;
  }

  .info-content {
    display: flex;
    gap: 20px
  }

  .info-content-title {
    max-width: 236px;
    width: 100%;
    flex-shrink: 0;
  }

  .info-content-text-item {
    gap: 10px;
    flex: 1 1 0px;
  }

  .info-content-text-title {
    width: 100%;
  }

  .info-content-text-item-text {
    width: 100%;
  }

  .info-content:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .info-content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .info-content:nth-child(2)>.info-content-text:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-content-text {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street ";
  }

  .image-content-text-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image-content-text-item:nth-child(1) {
    grid-area: sunset;
  }

  .image-content-text-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .image-content-text-item:nth-child(3) {
    grid-area: tape;
  }

  .image-content-text-item:nth-child(4) {
    grid-area: books;
  }

  .image-content-text-item:nth-child(5) {
    grid-area: street;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);

  }

  .footer_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
    grid-row: 2;
    grid-column: 1/4;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}

@media (width >= 1024px) {
  :root {
    --page-padding: 20px;
  }

  .header {
    height: 768px;
  }
  
  .header__theme-menu {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }

    .header_title {
    display: flex;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    grid-column: 1/4;
    grid-row: 2;
    margin-block-start: 273px;
    margin-block-end: 114px;
  }

  .header_description {
    height: min-content;
    font-size: 18px;
    line-height: 23.4px;
    grid-column: 2;
    grid-row: 3;
    margin-block-end: 134px;
    margin-inline-end: 20px;
  }

  .main {
    gap: 80px;
    padding: 0px 20px;
    margin-block-end: 60px;
  }

  .info-content {
    display: flex;
    gap: 20px
  }

  .info-content-title {
    max-width: 314.96px;
    width: 100%;
    flex-shrink: 0; /*не будет сжиматься*/
  }

  .info-content-text-item {
    gap: 10px;
    flex: 1 1 0px; /* flex-grow, flex-shrink и flex-basis*/
    width: 100%;
  }

  .info-content-text-item-text {
    width: 100%;
  }

  .info-content:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .info-content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .info-content:nth-child(2)>.info-content-text:nth-child(2) { /*выбор элемента*/
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .image-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-content-text {
    display: grid;
    gap: 20px;
    grid-template-areas:
      " sunset sunset ice-cream"
      " tape books ice-cream"
      " tape street street ";
  }

  .image-content-text-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image-content-text-item:nth-child(1) {
    grid-area: sunset;
  }

  .image-content-text-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .image-content-text-item:nth-child(3) {
    grid-area: tape;
  }

  .image-content-text-item:nth-child(4) {
    grid-area: books;
  }

  .image-content-text-item:nth-child(5) {
    grid-area: street;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 82.5%;
    grid-row: 2;
    grid-column: 1/4;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}